@{
    ViewBag.Title = "Home Page";
}

<style> 
    .fj1 {
        position: absolute;
        width: 97.8%;
        height: 50%;
        border: 1px solid #808080;
        background: #999;
        margin-top:2.93%;
    }

    .zj1 {
        position: relative;                     
        z-index: 1;
    }
</style>

  <script language="javascript">
var w,h,id,speed,Html
w=400;//-------滚动容器的宽度--------//
h=100;//-------滚动容器的高度--------//
id="div1";//-------滚动容器的id--------//
direction="left";//-------滚动方向有四个值left，right，up，down，自己试试--------//
speed="100";//-------滚动速度100相当于1秒，越小越快--------//
imgDiv="img";//-------放图片的容器id--------//
HtmlL=document.getElementById(imgDiv).innerHTML;
HtmlT=document.getElementById(id).innerHTML;
switch (direction)
{
case "left":
     document.getElementById(imgDiv).innerHTML=HtmlL+HtmlL;
  break;
case "right":
     document.getElementById(imgDiv).innerHTML=HtmlL+HtmlL;
  break;
case "up":
     document.getElementById(id).innerHTML=HtmlT+HtmlT;
  break;
case "down":
     document.getElementById(id).innerHTML=HtmlT+HtmlT;
  break;
}
function ss(){
document.getElementById(id).style.width=w;
document.getElementById(id).style.height=h;
document.getElementById(imgDiv).style.width=w*2;
document.getElementById(imgDiv).style.height=h;
var ele
ele=document.getElementById("div1");
switch (direction)
{
case "left":
ele.scrollLeft=ele.scrollLeft+5;
if (ele.scrollLeft>=w)
{
ele.scrollLeft=0;
}
break;
case "right":
ele.scrollLeft=ele.scrollLeft-5;
if (ele.scrollLeft<=0)
{
ele.scrollLeft=w;
}
break;
case "up":
ele.scrollTop=ele.scrollTop+5;
if (ele.scrollTop>=h)
{
ele.scrollTop=0;
}
break;
case "down":
ele.scrollTop=ele.scrollTop-5;
if (ele.scrollTop<=0)
{
ele.scrollTop=h;
}
break;
}
t=setTimeout("ss()",speed);
}
function stop(){
document.getElementById("div1").scrollLeft=document.getElementById("div1").scrollLeft;
document.getElementById("div1").scrollTop=document.getElementById("div1").scrollTop;
     clearTimeout(t);
}
setTimeout("ss()",100);
</script>

<div>
    
        <ul class="nav nav-tabs nav-justified">
            <li class="active">
                <a href="#">所有商品分类</a>               
            </li>
            <li><a href="#">首页</a></li>
            <li><a href="#">首页</a></li>
            <li><a href="#">首页</a></li>
            <li><a href="#">首页</a></li>
        </ul>
    
</div> 
<div id="myCarousel" class="carousel slide">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Images/90.jpg" alt="First slide" style="height:400px;width:100%;">
            <div class="carousel-caption">标题 1</div>
        </div>
        <div class="item">
            <img src="~/Images/546.jpg" alt="Second slide" style="height:400px;width:100%;">
            <div class="carousel-caption">标题 2</div>
        </div>
        <div class="item">
            <img src="~/Images/yundong.jpg" alt="Third slide" style="height:400px;width:100%;">
            <div class="carousel-caption">标题 3</div>
        </div>
    </div>
    <!-- 轮播（Carousel）导航 -->
    <a class="carousel-control left" href="#myCarousel"
       data-slide="prev">
        &lsaquo;
    </a>
    <a class="carousel-control right" href="#myCarousel"
       data-slide="next">
        &rsaquo;
    </a>
</div>
<!--<img src="~/Images/yundong.jpg" style="position:relative;top:-330px;left:270px;height:330px;width:1000px"/> style="position:relative;top:-330px;z-index:-132"-->
<div class="jumbotron" style="text-align:center">
    <h4>您的专属活动</h4>
    <div class="row">
        <div class="col-sm-6 col-md-2 col-lg-offset-1">
            <div class="thumbnail">
                <img src="~/Images/yundong.jpg" style="width:120px; height:120px; border-radius:50%;"
                     alt="通用的占位符缩略图">
                <div class="caption">
                    <h3>今日订单数</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <img src="~/Images/yundong.jpg" style="width:120px; height:120px; border-radius:50%;"
                     alt="通用的占位符缩略图">
                <div class="caption">
                    <h3>今日订单金额</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <img src="~/Images/yundong.jpg" style="width:120px; height:120px; border-radius:50%;"
                     alt="通用的占位符缩略图">
                <div class="caption">
                    <h3>昨日订单数</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <img src="~/Images/yundong.jpg" style="width:120px; height:120px; border-radius:50%;"
                     alt="通用的占位符缩略图">
                <div class="caption">
                    <h3>昨日订单金额</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <img src="~/Images/yundong.jpg" style="width:120px; height:120px; border-radius:50%;"
                     alt="通用的占位符缩略图">
                <div class="caption">
                    <h3>昨日订单金额</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>