@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <tr>
        <th><input type="checkbox" />全选</th>
        <th>商品信息</th>
        <th>单价（元）</th>
        <th>数量（件）</th>
        <th>金额（元）</th>
        <th>操作</th>
    </tr>
    <tr>
        <td>
            <input type="checkbox" />
        </td>
        <td><img src="~/Images/546.jpg" style="width:50px;height:50px;" />hdbbdv </td>
        <td>￥123.00 </td>
        <td>1</td>
        <td>￥123.00</td>
        <td>
            <div>删除</div>
            <div>移入收藏夹</div>
        </td>
    </tr>
</table>
<div></div>

