@{
    Layout = "~/Views/Shared/Back_stage.cshtml";
}

<div class="row">
    <div class="col-md-3">
        <label>新密码：</label>
    </div>
    <div class="col-md-9">
        <input type="password" value="新密码"/>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <label>确认密码：</label>
    </div>
    <div class="col-md-9">
        <input type="password" value="确认密码" />
    </div>
</div>
