@{
    Layout = "~/Views/Shared/Back_stage.cshtml";
}

<br />

<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <div><span class="glyphicon glyphicon-star-empty" style="font-size:x-large;"></span></div>
            <div class="caption">
                <h3>评价(0)</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <div><span class="glyphicon glyphicon-heart-empty" style="font-size:x-large;"></span></div>
            <div class="caption">
                <h3>收藏(0)</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <div><span class="glyphicon glyphicon-thumbs-up" style="font-size:x-large;"></span></div>
            <div class="caption">
                <h3>赞(0)</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <div><span class="glyphicon glyphicon-thumbs-down" style="font-size:x-large;"></span></div>
            <div class="caption">
                <h3>踩(0)</h3>
            </div>
        </div>
    </div>
</div>

