@{
    Layout = "~/Views/Shared/Back_stage.cshtml";
}

<br />
<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/Images/yundong.jpg" style="width:120px; height:120px; border-radius:50%;"
                 alt="通用的占位符缩略图">
            <div class="caption">
                <h3>今日订单数</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/Images/yundong.jpg" style="width:120px; height:120px; border-radius:50%;"
                 alt="通用的占位符缩略图">
            <div class="caption">
                <h3>今日订单金额</h3>              
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/Images/yundong.jpg" style="width:120px; height:120px; border-radius:50%;"
                 alt="通用的占位符缩略图">
            <div class="caption">
                <h3>昨日订单数</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/Images/yundong.jpg" style="width:120px; height:120px; border-radius:50%;"
                 alt="通用的占位符缩略图">
            <div class="caption">
                <h3>昨日订单金额</h3>                
            </div>
        </div>
    </div>  
</div>
<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/Images/yundong.jpg" style="width:120px; height:120px; border-radius:50%;"
                 alt="通用的占位符缩略图">
            <div class="caption">
                <h3>评价</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/Images/yundong.jpg" style="width:120px; height:120px; border-radius:50%;"
                 alt="通用的占位符缩略图">
            <div class="caption">
                <h3>收藏</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/Images/yundong.jpg" style="width:120px; height:120px; border-radius:50%;"
                 alt="通用的占位符缩略图">
            <div class="caption">
                <h3>赞</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/Images/yundong.jpg" style="width:120px; height:120px; border-radius:50%;"
                 alt="通用的占位符缩略图">
            <div class="caption">
                <h3>踩</h3>
            </div>
        </div>
    </div>
</div>

