@{
    Layout = "~/Views/Shared/Back_stage.cshtml";
}

<div class="row">
    <h4 style="color:#09F">查看用户</h4>
    <hr />
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>头像</th>
                    <th>用户名</th>
                    <th>邮箱</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="~/Images/yundong.jpg" style="width:30px;" /></td>
                    <td>Bangalore</td>
                    <td>560001</td>
                    <td>增加|删除|修改</td>
                </tr>
                <tr>
                    <td><img src="~/Images/yundong.jpg" style="width:30px;" /></td>
                    <td>Mumbai</td>
                    <td>400003</td>
                    <td>增加|删除|修改</td>
                </tr>
                <tr>
                    <td><img src="~/Images/yundong.jpg" style="width:30px;" /></td>
                    <td>Pune</td>
                    <td>411027</td>
                    <td>增加|删除|修改</td>
                </tr>
                <tr>
                    <td><img src="~/Images/yundong.jpg" style="width:30px;" /></td>
                    <td>Pune</td>
                    <td>411027</td>
                    <td>增加|删除|修改</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
