@{
    Layout = "~/Views/Shared/Back_stage.cshtml";
    ViewBag.Title = "查看用户";
}

<div class="row">
    <h2>@ViewBag.Title</h2>
    <hr />
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>头像</th>
                    <th>用户名</th>
                    <th>邮箱</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="~/Images/yundong.jpg" style="width:30px;" /></td>
                    <td>Bangalore</td>
                    <td>560001</td>
                    <td>@Html.ActionLink("新增", "Userregister")|删除|修改</td>
                </tr>
                <tr>
                    <td><img src="~/Images/yundong.jpg" style="width:30px;" /></td>
                    <td>Mumbai</td>
                    <td>400003</td>
                    <td>@Html.ActionLink("新增", "Userregister")|删除|修改</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
