@{
    Layout = "~/Views/Shared/Back_stage.cshtml";
}

<div class="row">
    <h4 style="color:#09F">注册用户</h4>
    <hr />
    <div class="col-md7 col-md-offset-3">
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>用户名：</label>
            </div>
            <div class="col-md-9">
                <input type="text" placeholder="用户名" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>邮箱：</label>
            </div>
            <div class="col-md-9">
                <input type="text" name="" placeholder="邮箱，如：15655545@xx.com" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>密码：</label>
            </div>
            <div class="col-md-9">
                <input type="text" placeholder="密码" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>确认密码：</label>
            </div>
            <div class="col-md-9">
                <input type="text" placeholder="确认密码" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 col-lg-offset-3">
                <input type="checkbox" />同意服务条款并注册
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 col-lg-offset-3">
                <input type="button" value="注册"/>
            </div>
        </div>
    </div>
</div>
